extends layout

block content
  h1= title
  p Welcome to #{title}
  div
     h1 api has all endpoints in /api/v1/*
     ul
       li /api/v1/auth
       li /api/v1/users
       li /api/v1/albuns
       li /api/v1/photos
    h3 to auth /api/v1/auth send body with {email : email, password : password}
    h3 to create users /api/v1/users/ with an {user}
    h3 to create albuns /api/v1/albuns/ with an {albuns}
    h3 to create photos /api/v1/photos/ with an (POST(body : photos), GET/:user)
